<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <section>
    @if (isAuthenticated$ | async; as isAuthenticated) {
      <span>You're logged in!</span>
      <ion-button color="danger" (click)="logout()">Logout</ion-button>
    } @else {
      <ion-button color="success" (click)="login()">Login</ion-button>
    }
  </section>
</ion-content>
